﻿@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>AddonChecker is World of Warcraft addon static analyzer for <b>7.x+</b> version of addon API.</p>
<p>Checks are based on common recommendations, best practices and API limitations of World of Warcraft.</p>
<p>
    There are three types of check results:
    <ul>
        <li><span class="badge badge-info">Tip</span> A tip to imrove the code.</li> 
        <li><span class="badge badge-warning">Warning</span> A warning which may lead to problems and unstable behaviour when using addon.</li> 
        <li><span class="badge badge-danger">Error</span> An error which may make your addon unusable at all.</li> 
    </ul>
</p>