﻿@model CheckResultViewModel
@{
    ViewData["Title"] = "Check results";
}
<h1>@Model.AddonName</h1>

<div class="alert alert-light" role="alert">
    <h4 class="alert-heading">@ViewData["Title"]</h4>
    <p>Procceed @Model.ChecksNumber check(s) on @Model.FilesNumber file(s).</p>

        <span class="badge badge-light">@Model.ChecksResult.Where(g => g.ItemType == AddonChecker.Checks.CheckType.TIP).Count()</span> <span class="badge badge-info">Tip(s)</span><br />
        <span class="badge badge-light">@Model.ChecksResult.Where(g => g.ItemType == AddonChecker.Checks.CheckType.WARNING).Count()</span> <span class="badge badge-warning">Warning(s)</span><br />
        <span class="badge badge-light">@Model.ChecksResult.Where(g => g.ItemType == AddonChecker.Checks.CheckType.ERROR).Count()</span> <span class="badge badge-danger">Error(s)</span>

    <hr>
    <p class="mb-0">@DateTime.Now.ToString()</p>
</div>

@foreach (var check in Model.ChecksResult)
{
<div class="alert alert-secondary" role="alert">
    <span class="badge badge-light">@Model.ChecksResult.IndexOf(check)</span>
    @if (check.ItemType == AddonChecker.Checks.CheckType.TIP)
    {
        <span class="badge badge-info">Tip</span>
    }
    @if (check.ItemType == AddonChecker.Checks.CheckType.WARNING)
    {
        <span class="badge badge-warning">Warning</span>
    }
    @if (check.ItemType == AddonChecker.Checks.CheckType.ERROR)
    {
        <span class="badge badge-danger">Error</span>
    }
    <span style="white-space: pre-line">@check.Message</span>
</div>
}