﻿@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">World of Warcraft</h1>
    <h1 class="display-4">addon static analyzer</h1>

    <form method="post" enctype="multipart/form-data" asp-controller="Base" asp-action="checkaddon">
        <div class="form-group">
            <p>Upload your World of Warcraft addon</p>
            <span class="btn btn-success fileinput-button">
                <span>Select zip file with addon</span>
                <input type="file" name="file" accept="application/zip">
            </span>
        </div>
        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-info">
            <p>(10 MB zip file)</p>
        </div>
    </form>
</div>
