﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Checking of addons is being done in RAM and no addons data is being saved on the drives.</p>
<p>Only result number of tips, warnings and errors getting recorded without any information about related addon for the statistics puprpose.</p>